.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-color: rgb(191, 110, 48);
    width: 500px;
}
.item {
   background-color: rgb(240, 175, 125);
   height: 100px;
   padding: 10px;
   margin: 10px;
   width: 100px;
}

.container {
    display: flex;
    background-color: rgb(191, 110, 48);
    width: 500px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content;
}

.item {
    background-color: rgb(240, 175, 125);
    height: 100px;
    padding: 10px;
    margin: 10px;
    width: 100px;
}
